body
{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background-repeat: no-repeat;
  height: 559px;
}

.wrapper-login
{
  display: none;
  background: #2f3238;
  margin: 130px auto;
  width: 400px;
  height: 310px;
  box-shadow: 1px 1px 5px #333;
  border-radius: 2px;
}

.wrapper-login h1
{
 padding: 10px 0 0 15px;
 margin: 0 0 0 6px;
 font-family:'Montserrat';
 font-size: 38px;
 font-weight: lighter;
 color: #fefefe;
}

hr
{
  border: 1px solid #2cb5e8;
  width: 350px;
  margin-bottom: 10px;
  height: 0.1px;
}

.form-container
{
  position: relative;
  top: 30px;
}

.input-textbox
{
  display: block;
  margin: 0 auto 15px;
  width: 250px;
  height: 30px;
  background-color: #494e57;
  color: #fff;
  border: 0;
  padding: 5px;
}

.input-textbox:focus
{
  outline: none;
}

.input-button
{
  position: relative;
  top: 10px;
  left: 35%;
  margin: 0 auto;
  height: 50px;
  width: 130px;
  font-family: 'Montserrat';
  font-weight: lighter;
  color: #fff;
  background-color:#2cb5e8;
  border-radius: 2px;
  border: 0;
  outline: none;
  opacity: 0.9;
}

.input-button:hover
{
  opacity: 1;
}

.wrapper-login p
{
  margin: 48px 0 0 118px;
  font-weight: ligther;
  font-family: 'Montserrat';
  font-size: 10px;
  color: #fefefe;
}

.wrapper-login a
{
  text-decoration: none;
  color: #2cb5e8;
  cursor: pointer;
  opacity: 0.9;
}

.wrapper-login a:hover
{
  opacity: 1;
  text-decoration: underline;
}

.wrapper-signIn
{
  display: none;
  background: #2f3238;
  margin: 130px auto;
  width: 400px;
  height: 310px;
  box-shadow: 1px 1px 5px #333;
}

.wrapper-signIn h1
{
 padding: 10px 0 0 15px;
 margin: 0 0 0 6px;
 font-family:'Montserrat';
 font-size: 38px;
 font-weight: lighter;
 color: #fefefe;
}

.input-signin-textbox
{
  display: block;
  margin: -26px auto 38px;
  width: 250px;
  height: 30px;
  background-color: #494e57;
  color: #fff;
  border: 0;
  padding: 5px;
}

.input-signin-button
{
  position: relative;
  top: -20px;
  left: 35%;
  margin: 0 auto;
  height: 50px;
  width: 130px;
  font-family: 'Montserrat';
  font-weight: lighter;
  color: #fff;
  background-color:#2cb5e8;
  border-radius: 2px;
  border: 0;
  outline: none;
  opacity: 0.9;
}

.input-signin-button:hover
{
  opacity: 1;
}

.input-signin-textbox:focus
{
  outline: none;
}

[placeholder]:focus::-webkit-input-placeholder
{
  transition: 0.5s;
  text-indent: -100%;
}

[placeholder]:not(:focus)::-webkit-input-placeholder
{
  transition: 0.5s;
}
